*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.main {
  padding: 40px 0;
  width: 100%;
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)10%), url('https://wallpaperaccess.com/full/2071603.jpg');
  background-position: center;
  min-height: 650px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3 {
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 3px 8px;
    border-radius: 5px;
}

.form {
    background-color: rgba(225, 225, 225, 0.100);
    backdrop-filter: blur(10px);
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 150px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.form h2 {
    font-size: 22px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

.items-form {
    margin: 0 auto;
    max-width: 540px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items-form input[type=text] {
  width: 48%;
  height: 30px;
  margin: 8px 0px;
  padding-left: 10px;
  border-radius: 4px;
}

.items-form input[type=submit] {
  width: 100%;
  height: 30px;
  color: white;
  background-color: teal;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
}

.content-single {
  margin-top: 40px;
  width: 50%;
  padding: 8px 30px;
}

@media screen and (max-width: 768px) {
  .items-form input[type=text] {
    width: 100%;
  }   

  .content-single{
    width: 100%;
  }
}